body {
    margin: 0;
    padding-left: 2em;
    padding-bottom: 2em;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.resulttbl {
    margin-top:2em;
    padding:4px;
    border:1px solid black;
}

.resulttbl th {
    color:white;
    background-color:gray;
    border-bottom:1px solid black;
    padding:0 1em;
}

.resulttbl tr td {
    text-align:center;
    padding:5px;
}

.buttonheader
{
  margin:auto;
  width:1000px;
}

.tableheader
{
  height:23px;
  width:99.7%;
  background-color:#D9B2B2;
  border-width: 2px; 
  border-color: black;
  border-style: groove;
  font-size: 140%;
  text-indent: 20px
}

.tableboxfront
{
  height:100%;
  width:1000px;
  padding:0px;
  border:none;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
  font-size:80%;   
}

.tablebox
{
    height:100%;
    width: 983px;
    padding:0 0 1em 0;
    border:1px solid black;
    margin:0 auto;
    background: #E6E6E6;
}

.tablebox td
{
    padding:0 1em;
}

.toptable
{
    height:100%;
    width: 250px;
    padding:5px;
    border:2px solid black;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    background: #E6E6E6;
}

.navi
{
    height:70%;
    width: 500px;
    padding:5px;
    border:2px solid black;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    background: #E6E6E6;
}

.results
{
    height:100%;
    padding:3px;
    border:1px solid;
    margin:10px; 
    background-color:#FFFFFF;
}

.nestedtable
{
    height:100%;
    width:98%;
    margin:0px;
    background-color:#E6E6E6;
    margin-left:auto;
    margin-right:auto;
}

form .dlb {
    margin: 1em 0 0 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
