body {
    padding-left:2em;
    padding-bottom:2em;
}

.resulttbl {
    margin-top:2em;
    padding:4px;
    border:1px solid black;
}

.resulttbl th {
    color:white;
    background-color:gray;
    border-bottom:1px solid black;
    padding:0 1em;
}

.resulttbl tr td {
    text-align:center;
    padding:5px;
}

.buttonheader
{
  margin:auto;
  width:1000px;
}

.tableheader
{
  height:23px;
  width:99.7%;
  background-color:#D9B2B2;
  border-width: 2px; 
  border-color: black;
  border-style: groove;
  font-size: 140%;
  text-indent: 20px
}

.tablebox
{
  height:100%;
  width:1000px;
  padding:0px;
  border:none;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
  font-size:80%;   
}

fieldset 
{ 
  border:0px;
}